<%- include('../partials/top-a') -%>
<link rel="stylesheet" href="../../css/merchant.login.css">
<%- include('../partials/top-b') -%>

<main>
  <div class="container">
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12 m12 l12">
            <i class="material-icons prefix">phone</i>
            <input id="icon_telephone" type="tel" class="validate">
            <label for="icon_telephone">Telephone</label>
          </div>
          <div class="input-field col s12 m12 l12">
            <i class="material-icons prefix">lock</i>
            <input id="icon_prefix" type="password" class="validate">
            <label for="icon_prefix">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="offset-s1 offset-m1 offset-l1 col s5 m5 l5">
            <a class="btn waves-effect waves-light register-btn" href="/merchant/register">Register</a>
          </div>
          <div class="col s5 m5 l5">
            <a class="btn waves-effect waves-light login-btn" id="login-btn">Login</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</main>
<%- include('../partials/bottom-a') -%>
<script src="../../js/merchant.login.js"></script>
<%- include('../partials/bottom-b') -%>