<%- include('../partials/top-a') -%>

<link rel="stylesheet" href="../../css/xxx.css">
<%- include('../partials/top-b') -%>

<main>

</main>
<%- include('../partials/bottom-a') -%>

<script src="../../js/xxxx.js"></script>
<%- include('../partials/bottom-b') -%>