<%- include('../partials/header') %>
<main>
    <div class="container">
        <div class="row">
            <div class="col s12 center-align">
                <h3 class="aum-extrabold aum-text-3xl">Create Restaurant</h3>
                <p>Already have an account? <a target="_self" href="/api/users/login">Sign in</a></p>
            </div>
        </div>
    </div>

    <div class="container ">
        <div class="row">
            <div class="col s8 offset-s2">
                <div class="container white aum-border-radius-12">
                    <div class="container">
                        <div class="row">
                            <div class="col s12">
                                <form name="form2" action="/api/restaurants/restaurant" method="POST">

                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">account_circle</i>
                                            <input id="restaurantName" type="text" class="validate" name="restaurantName" required>
                                            <label for="restaurantName">Full Name</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                           <div class="input-field col s12">
                                            <i class="material-icons prefix">phone</i>
                                            <input id="phone" type="tel" class="validate" name="phone" required>
                                            <label for="phone">Phone Number</label>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">email</i>
                                            <input id="email" type="email" class="validate" name="email" required>
                                            <label for="email">Email Address</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">comment</i>
                                            <textarea id="description" class="materialize-textarea validate"
                                                name="description" required></textarea>
                                            <label for="description">Restaurant Description</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">map</i>
                                            <textarea id="address" class="materialize-textarea validate" name="address"
                                                required></textarea>
                                            <label for="address">Restaurant Address</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">watch</i>
                                            <input id="workingHours" class="validate" type="text"
                                                name="workingHours" required>
                                            <label for="workingHours">Working Hours</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">image</i>
                                            <input id="restaurantImageUrl" class="validate" type="text"
                                                name="restaurantImageUrl" required>
                                            <label for="restaurantImageUrl">Restaurant Image</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col s12">
                                            <button class="btn bg-gray col s12" type="submit">Create Restaurant
                                            </button>
                                        </div>
                                    </div>                                   
                                </form>

                                <% if (message) { %>
                                    <p>
                                        <%= message %>
                                    </p>
                                    <% } %>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<%- include('../partials/footer') %>