.search-content {
  width: 100%;
  height: 600px;
  background: rgba(0, 0, 0, 0.664)
    url("../image/home/bg-search-bar-2ffedb743966429f931afc87b8e2706d.jpg")
    center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-content h1 {
  color: white;
  line-height: 1;
  font-size: 3rem;
  font-weight: 700;
}

.search-form {
  background-color: #ffffff;
  color: #000000;
  border-radius: 0.5rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
  line-height: 2;
  margin: 0;
}

.search-form .content {
  padding: 20px;
}

.search-form .content input {
  padding-left: 12px;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.5rem;
  margin-right: 1rem;
}

.search-form .content input:nth-child(2) {
  padding: 0 12px;
}

.search-form a {
  border-radius: 4px;
  background-color: black;
  height: 100%;
  line-height: 50px;
}

.card-title{
    white-space: nowrap;
    overflow: hidden;
}
.card .card-content p {
    white-space: nowrap;
    overflow: hidden;
}

@media only screen and (min-width: 993px) {
  .row .col .l1 {
    width: 15%;
  }
}

@media only screen and (min-width: 601px) {
  .row .col.m1 {
    width: 30%;
    margin-left: auto;
    left: auto;
    right: auto;
  }

  .card .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media only screen and (max-width: 840px) {
  .card .card-title {
    font-size: medium;
  }

  .featured-col .card .title h3 {
    font-size: 1rem !important;
  }

  .featured-col .card .title p {
    font-size: 0.8rem !important;
  }
}

.popular-mer {
  padding: 4rem 0 3rem;
  /* background-color: pink; */
}

.popular-mer .container {
  padding: 0 auto;
  /* background-color: blue; */
}

.popular-mer h2 {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin: 0 auto 2rem;
  padding-left: 16px;
}

.popular-mer .card {
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 10px 18px -3px rgba(0, 0, 0, 0.2);
}

.popular-mer .card:hover {
  transform: scale(1.1);
}

.popular-mer .card .card-image img {
  height: 12rem;
}

.stars {
  display: inline;
  color: rgb(250 204 21);
}

.featured-col {
  padding: 64px 0;
}

.featured-col .container {
}

.featured-col h2 {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin: 0 auto 2rem;
  padding-left: 16px;
}

.featured-col .card {
  width: 100%;
  overflow: hidden;
  border-radius: 0.5rem;
  color: #ffffff;
  transition: all 300ms;
  background-color: transparent;
}

.featured-col .card .card-image:hover img {
  transform: scale(1.1);
}

.featured-col .card .title {
  width: 142px;
  height: 48px;
  left: 1rem;
  bottom: 1rem;
  position: absolute;
}

.featured-col .card .title h3 {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.75rem;
}

.featured-col .card .title p {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
