<%- include('../partials/header') %>

<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h3 class="aum-extrabold aum-text-3xl">Sign In</h3>
        </div>
    </div>
</div>

<div class="container ">
    <div class="row">
        <div class="col s8 offset-s2">
            <div class="container white aum-border-radius-12">
                <div class="container">
                    <div class="row">
                        <div class="col s12">
                            <form action="/api/auth/login" method="POST">

                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">email</i>
                                        <input id="email" type="email" class="validate" name="email" required>
                                        <label for="email">Email Address</label>
                                    </div>
                                </div>

                              
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">lock</i>
                                        <input id="password" type="password" name="password" required>
                                        <label for="password">Password</label>
                                    </div>
                                </div>

                                
                                <div class="row">
                                    <div class="col s12">
                                        <button class="btn waves-effect waves-light bg-gray col s12" type="submit">Login
                                        </button>
                                    </div>
                                </div>     

                                <p>Don't have an account? <a href="/api/auth/register">Register</a></p>

                            </form>

                            <% if (message) { %>
                                <p>
                                    <%= message %>
                                </p>
                                <% } %>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>