/*!
 * My custom booking css
 */
.skipy-bc-green {
  background-color: #4d940a !important;
}

.skipy_mb_0 {
  margin-bottom: 0px !important;
}

.skipy_mb_8 {
  margin-bottom: 8px;
}

.skipy_mb_16 {
  margin-bottom: 16px;
}

.skipy_mt_4 {
  margin-top: 4px !important;
}

.skipy_mt_8 {
  margin-top: 8px;
}

.skipy_mt_16 {
  margin-top: 16px;
}

.skipy_mt_total {
  margin-top: 1.94667rem;
}

.skipy_mr_8 {
  margin-right: 8px !important;
}

.skipy_mr_16 {
  margin-right: 16px !important;
}

.skipy_ml_8 {
  margin-left: 8px !important;
}

.skipy_ml_16 {
  margin-left: 16px !important;
}

.skipy_mr_16 {
  margin-right: 16px;
}

.skipy_m_8 {
  margin: 8px;
}

.skipy_m_16 {
  margin: 16px;
}

.skipy_pb_4 {
  padding-bottom: 4px;
}
.skipy_pb_8 {
  padding-bottom: 8px;
}

.skipy_pb_16 {
  padding-bottom: 16px;
}

.skipy_pt_4 {
  padding-top: 4px;
}
.skipy_pt_8 {
  padding-top: 8px;
}

.skipy_pt_16 {
  padding-top: 16px;
}

.skipy_p_8 {
  padding: 8px;
}

.skipy_p_16 {
  padding: 16px;
}

/* Images */
.user-image-size {
  height: 64px;
}

.object-cover {
  object-fit: cover;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.skipy_w_16 {
  width: 4rem !important;
}

.skipy_h_16 {
  height: 4rem !important;
}

.skipy_w_24 {
  width: 6rem !important;
}

.skipy_h_24 {
  height: 6rem !important;
}

.skipy_h_48 {
  height: 48px !important;
}
.skipy_h_480 {
  height: 480px !important;
}

/* Time slots */
.time-slot {
  margin-right: 18px;
  margin-bottom: 8px;
  margin-left: 8px;
}

.justify-between {
  justify-content: space-between;
}

.flex {
  display: flex;
}
.border-t {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  border-top-width: 1px;
}

/* dropdown menu */
.dropdown-content li > a,
.dropdown-content li > span {
  color: rgb(0 0 0);
}
