<%- include('../partials/header') %>
<main>
    <section>
    
        <div class="container">
            <div class="row">
                <div class="col s12 center-align">
                    <h2 class="aum-extrabold aum-text-3xl">Page Not found!</h2>
                    <a class="waves-effect waves-light btn-small bg-gray" href="/api/restaurants/restaurants"><i
                        class="material-icons left">arrow_back</i>Back to Restaurants</a>
                </div>
            </div>
        </div>

    </section>
</main>


    <%- include('../partials/footer') %>