<nav>
  <div class="container flex-between">
    <div class="">
      <a href="/" class="">Home</a>
      <a href="#!" class="">Restaurant Name</a>
      <a href="#!" class="">Menu</a>
    </div>
    <div class="">
      <a href="/" class="brand-logo">Skipy</a>
    </div>
    <button class="btn-shopping-cart">
      <i class="fas fa-shopping-cart"></i>
      <span>Your Order</span>
      <span class="bg-white">0</span>
    </button>
  </div>
</nav>