<nav>
  <div class="container">
    <a href="javascript:void(0);" data-target="mobileMenu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <div class="row">
      <div class="col s6 nav-wrapper hide-on-med-and-down">
        <a href="/" class="breadcrumb">Home</a>
        <a href="#!" class="breadcrumb" id="merchantName">Merchant Name</a>
        <a href="#!" class="breadcrumb">Menu</a>
      </div>
      <div class="col s4">
        <a href="/" class="brand-logo">Skipy</a>
      </div>
      <!-- <div class="col s2 shopping-cart right">
        <a class="btn-shopping-cart" id="shoppingCartBtn">
          <i class="fas fa-shopping-cart"></i>
          <span>Your Order</span>
          <span class="bg-white" id="orderCount">0</span>
        </a>
      </div> -->
      <div class="col s2 right">
        <a class="waves-effect waves-light btn btn-small bg-gray" id="makeReservationBtn">          
          Make a Reservation          
        </a>
      </div>
    </div>
    
    <ul class="sidenav" id="mobileMenu" style="transform: translateX(-105%);">
      <li class="">
        <a class="nav-link " href="/">Home</a>
      </li>
      <li class="">
        <a class="nav-link " href="/merchants">merchants</a>
      </li>
    </ul>
  </div>
</nav>