<nav class="header">
  <div class="nav-wrapper wrapper">
    <div class="left">
      <a href="/home" class="brand-logo">Skipy</a>
    </div>
    <div class="right">
      <ul id="nav-mobile" class="hide-on-med-and-down">
        <li><a href="/home">Home</a></li>
        <li><a href="/restaurants">Restaurants</a></li>
        <li><a href="/about">About</a></li>
      </ul>
      <a href="/login" class="sign-in btn waves-effect hide-on-med-and-down">Sign In</a>
    </div>
  </div>
  <!-- todo: adaptability  -->
  <!-- <div class="container"><a href="#" data-target="nav-mobile" class="top-nav sidenav-trigger full hide-on-large-only"><i
        class="material-icons">menu</i></a></div> -->

  <!-- Mobile Menu -->
  <!-- <ul class="sidenav sidenav-fixed" style="transform: translate(-105%);" id="nav-mobile">
    <li><a href="#">Home</a></li>
    <li><a href="#">Restaurants</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#" class="btn waves-effect waves-light">Sign In</a></li>
  </ul> -->
</nav>